{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "class-methods-use-this": "off",
    "max-classes-per-file": "off",
    "object-curly-newline": "off",
    "operator-linebreak": ["error", "after", { "overrides": { "?": "before", ":": "before" } }],
    "no-unused-vars": ["error", { "varsIgnorePattern": "^h$" }],
    "no-console": ["error", { "allow": ["warn", "error"] }]
  }
}
